# Default configuration for Stop… Camping Time!

# The default hourly rate
#hourly_rate: 20.0

# The VAT rate
#vat_rate: 21.0

# The invoice ID format (see strftime(3) and %N for the sequence number)
#invoice_id: %Y%N
